// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.coach{
  background-color: #fff9d8;
  border-left: thick solid gray;
}

.you{
  border-left: thick solid gray;
}
